<div>
  <!-- <ng-container *ngIf="component === 'searchStart'">
      <img class="imgFluid" loading="lazy" src="/assets/images/searchStart.svg" alt="{{'label.searchStart'
      | translate}}" />
  </ng-container>

  <ng-container *ngIf="component === 'recordNo'">
      <img class="imgFluid" loading="lazy" src="/assets/images/recordNo.svg" alt="{{'label.recordNo'
      | translate}}" />
  </ng-container>

  <ng-container *ngIf="component === 'foundNot'">
      <img class="imgFluid" loading="lazy" src="/assets/images/foundNot.svg" alt="{{'label.foundNot'
      | translate}}" />
  </ng-container>

  <ng-container *ngIf="component === 'matchEventsNo'">
      <img class="imgFluid" loading="lazy" src="/assets/images/matchEventsNo.svg" alt="{{'label.matchEventsNo'
      | translate}}" />
  </ng-container> -->
</div>
